html, body {

    padding: 0%;
    padding-bottom: 2%;
    margin: 0%;
}



@font-face {
    font-family: "LTInternet-Regular";
    src: url("LTInternet-Regular.ttf");
}



body {
    background-color: #dee0d7;
}


img {
    margin-left: 35%;

    width: 30%;
	height: auto;
  }

.name {
    margin-left: 40%;
}


h2 {
    background-color: #6B705C;
    color: #dee0d7;
    text-align: center;
    font-size: 18px;
    font-family: "LTInternet-Regular";

    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 9%;
    margin-right: 9%;
}

h3 {
    color: rgb(34, 33, 33);
    font-style: italic;
    font-size: 16px;
    font-family: "LTInternet-Regular";
    text-align: center;

    margin-left: 9%;
    margin-right: 9%;

}

.reponses {

    margin-left: 10%;
    color: rgb(34, 33, 33);
}



.next {

    background-color: #6B705C;
    color: #dee0d7;
    

    text-align: center;
    font-size: 16px;
    border-radius: 12%;

    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.bouton {
    text-align: center;
    margin-top: 3%;
    font-family: "LTInternet-Regular";
    text-transform: uppercase;
}

.valid {
    color: #6a7e4b;
}

.invalid {
    color: #970e10ce;
}

#score {
    border-color: #242423;
    background-color: #242423;
    color: #dee0d7;

    padding-top: 2%;
    padding-bottom: 1%;
    margin-top: 5%;

    
}